*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(to right, rgb(215, 90, 90), rgb(240, 106, 11));
}

.container{
    width: 100vw;
    height: 100vh;
    padding:20px;

    display: grid;
    grid-template-rows: repeat(3,1fr);
    grid-template-columns: repeat(3,1fr);
    gap:10px

}

.box{
    background-position: center;
    background-size: cover;
    background-blend-mode:darken; 

    transition: all 0.7s ease-in-out;

    box-shadow: 0 0 10px white;
    cursor: pointer;
}

.box:hover{
    border:2px solid white;
    background-position: right;
}