/* Universal Selector */
* {
    background-color: black;
}

/* Element Selector */
div {
    border: 2px solid red;
    border-radius: 100%; /* This makes the corners fully rounded */
    height: 200px;
    width: 200px;
    background-color: pink;
    margin-bottom: 20px;

    display: block; /* Use block to ensure proper shape rendering */
}

/* Using ID selector */
#second {
    background-color: yellow;
}

/* Using class selector */
.item {
    background-color: blueviolet;
}
